* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  font-family: "Exo 2", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

 
  background: linear-gradient(270deg, #0f2027, #203a43, #2c5364, #0f3460);
  background-size: 600% 600%;
  animation: bgMove 12s ease infinite;

  color: #00f0ff;
}


@keyframes bgMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}


h1 {
  font-size: 2.8rem;
  text-align: center;
  margin-bottom: 15px;
  text-shadow: 
    0 0 10px #00ffff,
    0 0 25px #00ffff,
    0 0 40px #00ffff;
}


#name,
#va {
  color: #ff0048;
  text-shadow:
    0 0 10px #ff0048,
    0 0 30px #ff0048,
    0 0 50px #ff0048;
}


#btn {
  margin-top: 45px;
  width: 300px;
  height: 60px;
  border-radius: 40px;
  border: 2px solid rgba(0, 255, 255, 0.8);

 \
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  color: #00ffff;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;

  cursor: pointer;

  box-shadow:
    0 0 20px rgba(0, 255, 255, 0.6),
    inset 0 0 15px rgba(0, 255, 255, 0.2);

  transition: all 0.35s ease;
}


#btn:hover {
  transform: scale(1.12);
  background: rgba(0, 255, 255, 0.18);
  box-shadow:
    0 0 35px #00ffff,
    0 0 60px #00ffff,
    inset 0 0 20px rgba(0, 255, 255, 0.4);
}


#btn:active {
  transform: scale(1.05);
  box-shadow:
    0 0 15px #00ffff,
    inset 0 0 25px rgba(0, 255, 255, 0.6);

}
